$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

@import "compass/css3/images";

body {
  font-family: 'Open Sans', sans-serif;
  @include background-image(linear-gradient(#2c3e50, #7f8c8d));
}

/* Custom page header and footer */
.header {
  h1 {
    color: #fff; 
  }
}
.footer {
  color: #fff;
  padding-top  : 25px;
  padding-left : 10px;
}

.portfolioContainer {
  background-color: #95a5a6;
}

.portfolio-row {
  background-color : #fff;
  margin-bottom    : 20px;

}

#dtor-gif {
  float     : right;
  max-width : 35%;
}

#anim-antonym-vid {
  float     : right;
  max-width : 45%;
  min-width : 200px;
  min-height: 200px;
  margin: 5px;
}

#dtor-thumbnails {
  margin-top    : 1.25em;
  margin-bottom : 1.0em;
  span {
    padding-left  : 5px;
    padding-right : 5px;
  }
}

/* For larger screens */
@media all and (min-width: 764px) {
  body {
    padding-top    : 20px;
    padding-bottom : 20px;
  }
  .header {
    margin-bottom: 30px;
    h1 {
      font-size: 5em;
    }
    h4 {
      font-size    : 1.5em;
      margin-top   : 15px;
      padding-left : 4px;
    }
  }

  .container {
    max-width: 800px;
  }
  .portfolioContainer {
    border-radius : 5px;
    margin-top    : 50px;
    padding       : 30px;
  }
  .portfolio-row {
    margin-left  : 2px;
    margin-right : 2px;  
    padding      : 10px; 
    h2 {
      font-size     : 2.75em;
      margin-bottom : 18px;
    }
  }

  .responsive-youtube {
    height: 315px;
    width: 420px;
    margin: 10px 15%;
  }
}

/* For smaller screens */
@media all and (max-width: 764px) {
  body {
    padding-top: 20px;
  }
  .header {
    margin-left: 10px;
    h1 {
      font-size: 2.45em;
    }
    h4 {
      font-size    : 1.25em;
      padding-left : 0.095em;
    }
  }
  .container {
    padding: 0;
  }
  .portfolioContainer {
    background-color : rgba(0, 0, 0, 0);
    padding          : 0;
    margin-top       : 30px;
    width            : 100%;
  }
  .responsive-youtube {
    max-width: 420px;
    max-height: 315px;
    width: 80%;
    height: 14em;
    margin: 5px 10%;
  }
  .row {
    margin: 15px 0;
  }
  .portfolio-row {
    width         : 100%;
    padding-top   : 0;
    padding-left  : 0;
    padding-right : 15px;
    h2 {
      font-size     : 1.95em;
      margin-bottom : 15px;
    }
    font-size: 1em;
  }
}